:root {
    --brj-cor-azul_escuro: #051933;
    --brj-cor-azul_claro: #083165;
    --brj-cor-gradiente: linear-gradient(180deg, rgba(5,25,51,1) 0%, rgba(8,49,101,1) 100%);
    --brj-cor-branco: #ffffff;
    --brj-cor-laranja: #C78C19;
    --brj-cor-laranja_escuro: #936812;
    --brj-cor-cinza:  #3A4042;
}

body {
    font-family: 'Fira Code', monospace, sans-serif;
    font-weight: 500;

}

img {
    height: 60px;
}

nav {
    text-align: right;
}

/*
.aranha {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    
}
.img-aranha{
    transition: transform 100ms cubic-bezier(0, 400, 1, 0);
}
.img-aranha:hover {
    transform: scale(1.1);
    
}
*/