:root {
    --brj-cor-azul_escuro: #051933;
    --brj-cor-azul_claro: #083165;
    --brj-cor-gradiente: linear-gradient(180deg, rgba(5,25,51,1) 0%, rgba(8,49,101,1) 100%);
    --brj-cor-branco: #ffffff;
    --brj-cor-laranja: #C78C19;
    --brj-cor-laranja_escuro: #936812;
}

body {
    font-family: 'Fira Code', monospace;
    font-weight: 500;

}

img {
    height: 60px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--brj-cor-gradiente);
    border-bottom: 5px solid var(--brj-cor-laranja);
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--brj-cor-branco);
    font-size: 16px;
    
    padding-right: 20px;
}

a:hover:not(.button) {
    transform: scale(1.05);
    transition: transform 200ms cubic-bezier(0, 4, 1, 4);
}

a::before {
    content:"";
    background-color: var(--brj-cor-laranja);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button {
    display: inline-block; /* PARA SETAR ALTURA, TAG "A" É POR PADRÃO INLINE */
    border-radius: 5px;
    border: 2px solid var(--brj-cor-laranja);
    color: var(--brj-cor-branco);
    background-color: var(--brj-cor-laranja);
    box-shadow: 3px 3px 0 var(--brj-cor-laranja_escuro);
    padding: 10px 15px;
    transition: none;
    
}

.button:active {
    box-shadow: inset 3px 3px var(--brj-cor-laranja_escuro) ;
    transform: translate(2px,2px);
    
}

/*
.aranha {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    
}
.img-aranha{
    transition: transform 100ms cubic-bezier(0, 400, 1, 0);
}
.img-aranha:hover {
    transform: scale(1.1);
    
}
*/