.box {
    display: inline-block;
    background-color:var(--brj-cor-cinza);
    box-shadow: 10px 10px 0 var(--brj-cor-azul_escuro);
    text-align: center;
    padding: 35px 20px;
}

.box h1 {
    margin-bottom: 20px;
}