.button {
    display: inline-block; /* PARA SETAR ALTURA, TAG "A" É POR PADRÃO INLINE */
    border-radius: 5px;
    border: 2px solid var(--brj-cor-laranja);
    color: var(--brj-cor-branco);
    background-color: var(--brj-cor-laranja);
    box-shadow: 3px 3px 0 var(--brj-cor-laranja_escuro);
    padding: 10px 15px;    
}

.button:active {
    box-shadow: inset 3px 3px var(--brj-cor-laranja_escuro) ;
    transform: translate(2px,2px);
}