.main-section.-project {
    background: var(--brj-cor-nightblue);
    border-color: white ;
}

.main-section.-project .position-project {
    display: flex;
    flex-wrap: wrap; /* deixa responsivo para descer os itens caso diminua */
    justify-content: space-evenly;
    max-width: 1600px; /* seta o tamanho para nao ultrapassar */
    margin: 0 auto; /* coloca o content no meio da tela */
}

.icon-project {
    width: 200px;
    margin-bottom: 20px;
}