.main-title.-second{
    color: var(--brj-cor-branco);
    text-align: center;
}

.skill-tec {
    display: flex;
    align-items: center;  /* ajeitar o height dos icones, ja que ele segue o tamanho total do elementos, com o align ele fica no meio usando o tamanho original */
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    color: var(--brj-cor-branco);
    
}

.skill-tec .icon {
    width: 55px;
    margin-right: 15px;
}

.skill-tec .title {
    margin-bottom: 5px;
}